// Colors
$light-grey: rgb(242, 242, 242);
$grey: rgb(152, 152, 152);
$dark-grey: rgb(102, 102, 102);

// Sizes
$doc-padding-top-bottom: 10px;
$doc-padding-left-right: 20px;
$header-height: 50px;
$article-title-font-size: 24px;
$article-subtitle-font-size: 14px;

// Transitions
$transition-time: 0.2s;

// Viewport sizes
$mobile-max-width: 768px;